<article class="card">
  <div class="card__inner">
    @if (canDelete) {
      <button
        type="button"
        class="delete-button"
        (click)="onDeleteClick()"
        aria-label="Delete Product"
      >
        ✕
      </button>
    }
    <div class="card__top">
      <img
        class="card__image"
        alt="Product image"
        [src]="
          (product.imageUrl ?? '/assets/product-placeholder.png') +
          '?v=' +
          product.id +
          '-' +
          '1'
        "
      />
    </div>
    <div class="card__mid">
      {{ product.name }}
    </div>
    <div class="price">${{ product.price }}</div>
    <button class="card__button" (click)="onClick()">Add To cart</button>
  </div>
</article>
