.products-page {
  flex: 1;
  width: 100%;
  display: flex;    
  align-items: stretch;
}

.products-grid {
    padding: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1.5rem;
}

:host {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  min-height: 0;
}

