<div class="panel">
    <h3>Cart</h3>
    @if ((items$ | async)?.length === 0) {
        <p>Cart is empty!</p>
    } @else {
        <div class="items">
            <div class="titles">
                <p>Name</p>
                <p>Amount</p>
                <p>Price</p>
            </div>
            @for (i of (items$ | async); track $index) {
                <div class="item">
                <p>{{ i.name }}</p>
                <div class="quantity">
                    <button (click)="decreaseQuantityOf(i.productId)">-</button>
                    <p>{{ i.quantity }}</p>
                    <button (click)="increaseQuantityOf(i.productId)">+</button>
                </div>
                <p>{{ i.price }}</p>
            </div>
            }
        </div>
    }
    <div class="footer">
        <div class="total">Total: ${{ total$ | async }} Items: {{ itemCount$ | async}}</div>
        <button (click)="createOrder()" class="checkout-button">Checkout</button>
    </div>
</div>