<article class="card">
    <div class="card__top">
        <p>Order {{order.id}}</p>
        <p>{{ order.createdAt }}</p>
    </div>
    <div class="titles">
        <p>Quantity</p>
        <p>Total</p>
        <p>Status</p>
    </div>
    <div class="card__inner">
        <div class="card__start">
            {{ order.items.length }} Items
        </div>
        <div class="card__mid">
            ${{ order.getTotalOrderValue() }}
        </div>
        <div class="card__end">
            {{ order.status }}
        </div>
    </div>
</article>
