.card {
    height: 120px;
    width: 340px;
    display: flex;
    border-bottom: thin groove gray;
    flex-direction: column;
}

.card__top {
    justify-content: space-evenly;
    display: flex;
}

.titles {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: 30px;
}

.card__inner {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
