.text__button {
    color: white;   
    font-weight: bold;
    font-size: larger;
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }   
    &.active {
        opacity: 1;
        text-decoration: underline;
        text-underline-offset: 10px;
    }
}