<section class="orders-page">
    <div class="orders-column">
        @if(vm$ | async; as vm) {
            @if(vm.loading) {
                <p>Loading...</p>
            }
            @if(vm.error) {
                <p>{{ vm.error.message }}</p>
                <button (click)="reload()">Retry</button>
            }

            @if(!vm.loading && !vm.error && vm.data?.length === 0) {
                <p>No Orders Found</p>
            }

            @for (o of (vm.data ?? []); track o.id) {
                <app-order-card
                    [order]="o"
                ></app-order-card>
            }
        }        
    </div>
</section>