<div class="item">
  <div class="item__header">
    <p class="item__name">{{ item.name }}</p>
    <p class="item__price">${{ item.price }}</p>
  </div>

  <div class="item-box">
    <div class="image-box">
      <img
        class="item-image"
        alt="Product image"
        [src]="
          (item.imageUrl ?? '/assets/product-placeholder.png') +
          '?v=' +
          '-' +
          '1'
        "
      />
    </div>

    <div class="quantity">
      <button (click)="onDecrease()" aria-label="Decrease quantity">-</button>
      <p class="item__quantity">{{ item.quantity }}</p>
      <button (click)="onIncrease()" aria-label="Increase quantity">+</button>
    </div>
  </div>
</div>
