.panel {
    padding: 24px;
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
}

:host {
    display: flex;
    width: 100%;
}

.items {
    overflow-y: auto;
    overflow-x: hidden;
}

.titles {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.item {
    display: flex;
    padding: 16px;
    border-bottom: thin groove gray;
    flex-direction: row;
    justify-content: space-between;
}

.quantity {
    display: flex;
    flex-direction: row;
}

.footer {
    width: 100%;
    border-top: thin dashed gray;
    margin-top: auto;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.total {
    padding: 20px;
}

.checkout-button {
    background-color: #33a74d;
    color: white;
}