.text__button {
    color: white;   
    font-weight: bold;
    opacity: 0.9;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        opacity: 1;
        text-decoration: underline;
        text-underline-offset: 10px;
    }   
}