::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
  letter-spacing: -0.01em;

  overflow-x: hidden;
  overflow-y: scroll;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --topbar-bg: #2a2a2a;
  --nav-bg: #33a74d;
  --page-bg: #f4f4f6;

  --cart-bg: white;

  --card-bg: white;

  --radius: 12px;
  --radius-sm: 8px;

  --space-4: 16px;

  --shadow-1: 0 4px 12px rgba(0, 0, 0, 0.12);
}

/* Skeleton Base */
.skeleton {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.06);
  border-radius: var(--radius);
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.55),
    transparent
  );
  animation: shimmer 1.1s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
