.top {
    background-color: var(--topbar-bg);
    top: 0;
    width: 100%;
}

.top__inner {
    min-height: 64px;
    height: 64px;
    justify-content:space-between;
    align-items: center ;
    display: flex;
    padding: 0 0px
}

.top__left{
    font-size: xx-large;
    color: white;
    font-weight: bold;
    height: 100%;
    width: 150px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.75);
    display: block;
}

.top__right {
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.account-button {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
