<div class="top">
  <div class="top__inner">
    <div class="top__left">
      <img class="logo" src="/assets/shop-logo.png" alt="LOGO" />
    </div>
    <div class="top__right">
      <div class="user-dropdown">
        @if (isLoggedIn$ | async) {
          <a (click)="toggleUserDropdown()">{{ userEmail | async }}</a>
        }
        @if (userMenuOpen) {
          <div class="menu">
            <a>My Account</a>
            <button (click)="logoutButtonClicked()">Log Out</button>
          </div>
        }
      </div>
      <a
        routerLink="/login"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img
          class="account-button"
          alt="ACCOUNT"
          src="/assets/person.png"
          aria-label="Go to account page"
        />
      </a>
    </div>
  </div>
</div>
